<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/907851af78.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>


<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light has-hamburger">
        <button class="language-toggle" type="button" data-language-toggle aria-label="Zmień język">PL</button>
        <button @click="toggleTheme" class="theme-toggle" type="button"
            :aria-label="darkMode ? 'Włącz tryb jasny' : 'Włącz tryb nocny'"
            :title="darkMode ? 'Tryb jasny' : 'Tryb nocny'">
            {{ darkMode ? '☀️' : '🌙' }}
        </button>
        <a class="navbar-brand" href="#">{{ name }}
            <div class="navButtons" :class="{ 'menu-open': menuOpen, 'submenu-open': showCategories }">

                <button type="button" class="btn btn-outline-secondary">
                    pojęcia i definicje
                </button>
                <button @click="toggleCategories" type="button" class="btn btn-outline-secondary category">kategorie
                </button>
                <button @click="showFlashcardInfo = !showFlashcardInfo" type="button" class="btn btn-outline-secondary">Fiszki</button>
            </div>

            <button class="hamburger" type="button" @click="toggleMobileMenu"
                :aria-expanded="menuOpen" aria-label="Otwórz lub zamknij menu">☰</button>

        </a>
    </nav>


    <div>
        <div v-if="showCategories" class="popup">
            <a class="btn btn-outline-secondary" href="common.html">common</a>
            <a class="btn btn-outline-secondary" href="index.html">pollution</a>
            <a class="btn btn-outline-secondary" href="sport.html">sport</a>
        </div>
    </div>


    <button v-if="hasCategory" @click="showAllWords = !showAllWords">pojęcia</button>

    <div v-if="showFlashcardInfo" class="flashcardInfo">wybierz kategorię</div>

    <div class="FlashcardAndDefinition">

        <div class="flashcardArea">

            <flashcard-card :card="currentCard" :flipped="isFlipped" :has-category="hasCategory"
                @toggle="isFlipped = !isFlipped"></flashcard-card>


            <div class="btn-group btn-group-toggle flashcardButtons d-flex justify-content-center" role="radiogroup">
                <label :class="{'btn btn-outline-secondary': true, 'active': category === 'common'}">
                    <input v-model="category" type="radio" name="category" value="common"> common
                </label>
                <label :class="{'btn btn-outline-secondary': true, 'active': category === 'pollution'}">
                    <input v-model="category" type="radio" name="category" value="pollution"> pollution
                </label>
                <label :class="{'btn btn-outline-secondary': true, 'active': category === 'sport'}">
                    <input v-model="category" type="radio" name="category" value="sport"> sport
                </label>
            </div>


            <p class="keyboard-hint flashcard-hint">SPACJA = DEFINICJA</p>
            <button class="d-flex justify-content-center nextFlashcard" :disabled="!hasCategory" aria-keyshortcuts="ArrowRight" @click="moveCard(1)">DALEJ →</button>
            <button class="d-flex justify-content-center prevFlashcard" :disabled="!hasCategory" aria-keyshortcuts="ArrowLeft" @click="moveCard(-1)">← WSTECZ</button>
        </div>

        <div v-if="hasCategory" class="container definitions">
            <div class="allWords" v-if="showAllWords">
                <h1>{{ category }}</h1>
                <div v-for="item in activeCards" :key="item.word">
                        {{ item.word }} - {{ item.definition }}
                </div>
            </div>
        </div>

    </div>






</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script src="./js/vocabularyList.js"></script>
<script src="./js/translations.js"></script>
</body>

</html>
