/* body{
    background-color: whitesmoke;
}
.quiz{
    display:flex;
    position: relative;
    text-align: center;
    justify-content: center;
}
.word {
    position: absolute;
    top:5px;
}
.answers {
    position: absolute;
    top: 100px;
}


.corect{
    background-color: green;
}
.wrong{
    background-color: red;
} */
.relutlCount{
    /* margin-left: 200px; */
    position: absolute;
    right: 0;}
.carousel{
    height: 93vh;
    }
    .previous{
    color:black
    }
    .next{
    color:black
    }
    .words{
        margin-top: 20px;
    font-size: 55px;
    }
    .answer{
    width: 150px;
    margin: 5px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    }
    .correct{
    color: green;
    }
    .result{
    margin: 30px;
    left: 35px;
    }
    .wrong{
        color: red;
    }
    